html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 26px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

    white-space: nowrap;


    text-shadow: rgba(75, 75, 75, 0.5) 4px 4px;

    transition: font-size 0.2s ease;
}

.nav-item:hover {
    font-size: 1.4rem;
}

.content {
    margin-top: 50px;
    width: 70%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
}

.date {
    color: rgb(255, 208, 0);
    font-weight: bold;
    font-size: 18px;
}

.location {
    font-weight: bold;
}

.link-button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(96, 15, 171);
}